@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body{
    background-color: #0e1125;
}
.cont1{
    margin: 15%;
}
.name{
    margin-top: 211px;
    font-size: 51px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #4d13ec 100% );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.name:hover{
    cursor: url(https://www.ui-devtools.com/rockon.png),auto;
}
.text{
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    padding: 0px;
}
.social_links{
    font-size: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-top: 0px;
}
.social_links:hover{
    text-transform: uppercase;
    color: #3543c4;

}
/* Copied */
.noselect {
    margin-top: 110px;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button {
      width: 150px;
      height: 50px;
      cursor: pointer;
      font-size: 20px;
      font-family: 'Staatliches', cursive;
      letter-spacing: 5px;
      background: #ffc421;
      border: 2px solid black;
      box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
      transition: 500ms;
  }
  
  button:after {
      content: '';
      position: absolute;
      transform: translateX(-55px) translateY(-40px);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 0px 0px 50px transparent;
      transition: 500ms;
  }
  
  button:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  }
  
  button:hover:after {
      background: white;
      box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
      animation: spin 1s infinite linear;
  }
  
  @keyframes spin{
      25%{transform: translateX(-25px) translateY(-35px);
              width: 15px;
              height: 15px;}
      50% {transform: translateX(-55px) translateY(-30px);
              width: 5px;
              height: 5px;}
      75% {transform: translateX(-85px) translateY(-35px);
              width: 15px;
              height: 15px;}
  }
  
  button:focus {
      outline: none;
  }



/* Responsive  */
@media screen and (max-width: 600px) {
    .cont1{
        margin: 5%;
    }
    
  }